# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

# Envs & IDE
.venv/
env/
venv/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# App temp
_tmp/
**/.ipynb_checkpoints/
